//Couleurs

$main-color: #FFE9D1;
$secondary-color: #C25E00;
$bp-mobile: 426px;


//Content

body{
    button, a, .ProjectPreview{
        cursor: pointer;
    }
    h2{
        font-size: 3em;

        @media (max-width: 425px){
            font-size: 2em;
        }
    }
}