.Header{
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    background-color: coral;
    nav{
        //background-color: lightblue;
        width: 60%;
        display: flex;
        justify-content: space-around;
    }
}