@import "./partials/common";

.Header{
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    background-color: $main-color;
    nav{
        width: 60%;
        display: flex;
        justify-content: space-around;
    }
    .logoName{
        font-weight: 700;
        font-size: 1.5em;
        color: $secondary-color;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 1.3em;
    }
    .cv-button{
        width: 5%;
        height: 40px;
        border-radius: 10px;
        font-size: 1em;
        background-color: $secondary-color;
        color: aliceblue;
    }
    .burger-menu{
        width: 50px;
        aspect-ratio: 1/1;
    }
}