.Intro{
    //border: 1px solid black;
    display: flex;
    align-items: center;
    img{
        width: 600px;
    }
    p{
        line-height: 70px;
        font-size: 1.5em;
        padding-left: 40px;
    }

    @media (max-width: 1025px){
        flex-direction: column;
        img{
            width: 100%;
        }
    }
}