@import "./partials/common";

.Intro{
    //border: 1px solid black;
    display: flex;
    align-items: center;
    img{
        width: 35%;
    }
    p{
        line-height: 35px;
        font-size: 1.3em;
        padding-left: 40px;
        .title{
            font-size: 1.2em;
            font-weight: bold;
            .name{
                color: $secondary-color;
            }
        }
    }

    @media (min-width: 1440px){
        p{
            line-height: 70px;
            font-size: 1.5em;
        }
    }

    @media (max-width: 768px){
        flex-direction: column;
        img{
            width: 80%;
        }
        p{
            text-align: center;
            padding: 0;
            line-height: 53px;
        }
    }


    @media (max-width: 425px){
        p{
            font-size: 1.2em;
            line-height: 35px;
        }
    }
}