.ProjectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    .projets{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    h2{
        font-size: 3em;
    }
    #fakeClear{
        padding: 10px 20px;
        margin: 20px;
        border-radius: 10px;
        border: none;
    }

    @media (max-width: 1025px){
        width: 100%;
    }
}