.TechStack{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 3em;
    }
    .technos{
        img{
            height: 300px;
            padding: 50px;
        }
    }

    @media (max-width: 1025px){
        .technos{
            display: flex;
            img{
                height: 100px;
                padding: 0 35px;
            }
        }
    }
}